# Enable mod_rewrite for URL rewriting
Options +FollowSymLinks
RewriteEngine On

# Set default page to index.html
DirectoryIndex index.html

# Remove file extensions
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
